/* подключение шрифтов */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие стили */

html {
  /* sticky footer */
  height: 100%;
}

body {
  /* sticky footer */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /* основной шрифт и фон всей страницы */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  /* стакан */
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.main-container {
  /* sticky footer */
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  background-color: transparent;
  font-weight: 400;
}

/* обнулене стилей у списков */

.navigation-list,
.advantages-list,
.footer-social-list,
.form-filter-list,
.pagination,
.breadcrumbs,
.inner-content-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* главная страница cедона */
/* шапка */

.page-header {
  background: #ffffff;
  color: #000000;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: flex-start;

  /* позиционирование логотипа */
  margin-bottom: -5px;
}

.navigation-logo {
  margin-right: 30px;
  cursor: pointer;
}

.page-header-logo {
  vertical-align: middle;
}

.navigation-list {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  width: 350px;
  margin-left: auto;
  justify-content: flex-end;
  min-height: 70px;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 20px 0px;
  margin: 0 17px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
}

.navigation-link-user {
  display: inline-block;
  position: relative;
  padding: 18px 12px;
  color: #000000;
}

.navigation-link-user.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 18px;
  transform: translate(0, -2.4px);
}

.navigation-likes-number .likes-number {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 2.5px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  left: 11px;
  bottom: 7px;
}

.navigation-icon {
  position: absolute;
  color: #000000;
  top: 46%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.navigation-link:hover,
.navigation-link-user:hover svg {
  color: #756257;
}

.navigation-link-user.button:hover {
  background: #615048;
}

.navigation-link:active,
.navigation-link-user:active svg {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-user:active .likes-number {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-user.button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-user.button:focus-visible {
  background: #615048;
  outline: 3px solid #83b3d3;
}

/* main-page */

.main-page {
  color: #000000;
  background-color: #ffffff;
}

/* intro */

.main-page-intro {
  color: #f2f2f2;
  background-color: #333333;
  background:
  url("../images/bg-into-devider.svg") no-repeat center bottom,
  url("../images/index-background.jpg") top center/cover no-repeat;
  width: 1200px;
  min-height: 485px;
  margin-bottom: 63px;
}

.main-intro-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/* заголовок */

.main-page-header {
  text-align: center;
}

.main-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  display: block;
  margin-bottom: 31px;
  width: 720px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 31px;
}

.main-page-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 80px 0;
}

/* преимущества */

.advantages {
  margin-bottom: 91px;
}

.advantages-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-list:nth-of-type(2) .advantages-item:nth-child(2n+1),
.advantages-list:nth-of-type(4) .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list:nth-of-type(2) .advantages-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-list:nth-of-type(4) .advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item-white {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item.advantages-item-with-img {
  width: 800px;
}

.advantages-pic {
  vertical-align: middle;
  object-fit: cover;
  height: 100%;
}

.advantages-description-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 98px;
  position: relative;
}

.item-font-correction .advantages-description-title {
  margin-top: 185px;
  margin-bottom: 20px;
}

.item-font-correction:nth-child(1) .advantages-description-title::before {
  content: "";
  position: absolute;
  left: 63px;
  bottom: 52px;
  background-image: url("../images/house-advantages.svg");
  background-repeat: no-repeat;
  width: 74.7px;
  height: 72px;
}

.item-font-correction:nth-child(2) .advantages-description-title::before {
  content: "";
  position: absolute;
  bottom: 52px;
  left: 63px;
  background-image: url("../images/burger-advantages.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
}

.item-font-correction:nth-child(3) .advantages-description-title::before {
  content: "";
  position: absolute;
  bottom: 52px;
  left: 68px;
  background-image: url("../images/gift-advantages.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}

.advantages-description {
  font-weight: 400;
  color: #333333;
  padding: 0 75px;
  margin: 0;
  margin-bottom: 30px;
}

.item-font-correction:nth-child(1) .advantages-description {
  padding: 0 110px;
}

.advantages-item-white .advantages-description {
  color: #ffffff;
  padding: 0 90px;
}

.advantages-item .description-number {
  margin: 30px 0;
}

/* форма поиска гостиницы */

.search-hotel {
  text-align: center;
  width: 1060px;
  margin: 0 auto;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 29px;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 56px;
  width: 720px;
}

.search-hotel .button {
  font-size: 20px;
  line-height: 36px;
  padding: 13px 150px 11px;
  border-radius: 10px;
  margin-bottom: 93px;
}

.search-hotel .button:hover {
  background-color: #615048;
}

.search-hotel .button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3)
}

.search-hotel .button:focus-visible {
  background: #615048;
  outline: 3px solid #83b3d3;
}

/* подвал */
/* подписка на рассылку */

.mailing {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/background-mailing.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 411px;
  text-align: center;
}

.mailing-container {
  width: 800px;
  margin: 0 auto;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  padding-top: 91px;
  margin-bottom: 29px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 46px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.mailing-form .button-blue {
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 34px;
}

.mailing-form .field {
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  border: none;
  padding: 17px 0;
  padding-left: 22px;
  width: 578px;
}

.mailing-form .field:invalid {
  background-color: #FFFFFF;
  outline: 2px solid #ff5757;
}

.mailing-form .field:hover {
  background-color: #E6E6E6;
}

.mailing-form .field:focus-visible {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.mailing-form .button:hover,
.button-more-wrapper .button:hover,
.pagination-item .button:hover {
  background-color: #68A2CA;
  color: #ffffff;
}

.mailing-form .button:active,
.button-more-wrapper .button:active,
.pagination-item .button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68A2CA;
}

.mailing-form .button:focus-visible,
.button-more-wrapper .button:focus-visible,
.pagination-item .button:focus-visible {
  outline: 3px solid #756257;
  color: #ffffff;
}


/* контакты */

.footer-contacts {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 26px;
}

.footer-social {
  width: 252px;
  margin-left: 65px;
}

.footer-social-list {
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item:not(:nth-child(6n)) {
  margin-right: 9.5px;
  margin-bottom: 6.5px;
}

.footer-social-button {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px;
  position: relative;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}

.footer-social-icon {
  color: #83B3D3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social-button:hover .footer-social-icon {
  color: #68A2CA;
}

.footer-social-button:active .footer-social-icon {
  color: #68A2CA;
  opacity: 0.3;
}

.footer-social-button:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 6px;
}

.footer-phone {
  text-align: center;
  margin-right: 15px;
}

.footer-phone a {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
}

.footer-logo-link {
  min-width: 160px;
  min-height: 70px;
  position: relative;
}

.footer-phone a:hover,
.footer-logo-link:hover .footer-logo-icon {
  color: #756257;
}

.footer-phone a:active,
.footer-logo-link:active .footer-logo-icon {
  color: #756257;
  opacity: 0.3;
}


.footer-phone a:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 6px;
  padding: 3px 8px 7px;
  color: #756257;
}

.footer-logo-link:focus-visible {
  outline: none;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-logo-link:focus-visible .footer-logo-icon {
  color: #756257;
}

.footer-logo {
  width: 252px;
  margin-right: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo-icon {
  position: absolute;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* catalog */
/* main inner */

.main-inner {
  background-color: #ffffff;
  color: #000000;
}

/* поле выбора гостиниц */

.catalog-hotels-wrapper {
  background: #756257 url("../images/catalog/catalog-background-filter.jpg") no-repeat;
  color: #ffffff;
  background-size: 100% auto;
  width: 1200px;
  min-height: 408px;
  padding: 0 71px;
  margin-bottom: 44px;
  box-sizing: border-box;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs {
  font-size: 16px;
  margin-top: -6px;
  margin-bottom: 45px;
  margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 26px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url(../images/catalog/arrow-breadcrumbs.svg);
  width: 5px;
  height: 8px;
  top: 7px;
  right: -15px;
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  outline-offset: 2px;
}

.breadcrumbs-link {
  color: inherit;
  cursor: pointer;
}

.form-filter {
  display: flex;
}

.form-filter-group {
  padding: 0;
  border: none;
}

.form-filter-group:nth-child(1) {
  width: 150px;
  margin-right: 67px;
}

.form-filter-group:nth-child(2) {
  width: 150px;
}

.form-filter-group:nth-child(3) {
  margin-left: auto;
  width: 287px;
}

.form-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-label {
  line-height: 23px;
  display: inline-block;
  padding-bottom: 13px;
}

.form-filter-item:first-child .control-label {
  padding-top: 30px;
}

.form-filter-item:last-child .control-label {
  padding-bottom: 0;
}

.filter-button-wrapper {
  margin-left: 81px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-filter .button-blue {
  font-size: 16px;
  line-height: 21px;
  padding: 14px 35px;
}

.form-filter .button-blue:hover {
  background: #68A2CA;
}

.form-filter .button-blue:active {
  background: #68A2CA;
  color:rgba(255, 255, 255, 0.3)
}

.form-filter .button-blue:focus-visible {
  outline: 3px solid #FFFFFF;
}

.form-filter .button-transparent {
  padding: 12px 20px;
  margin: 0 auto;
}

.form-filter .button-transparent:hover {
  opacity: 0.6;
}

.form-filter .button-transparent:active {
  opacity: 0.3;
}

.form-filter .button-transparent:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -10px;
  border-radius: 12px;
}

/* сортировка */

.sorting-wrapper {
  display: flex;
  width: 1058px;
  margin: 0 auto;
  margin-bottom: 53px;
  align-items: center;
}

.sorting-result {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  min-height: 48px;
  padding-left: 19px;
  cursor: pointer;
  margin-right: auto;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus-visible,
.select-control-hotels:hover,
.select-control-hotels:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.button-sorting-wrapper {
  display: flex;
}

.button-sorting-wrapper .button-sorting {
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-sorting-wrapper .button-sorting-current {
  border: 2px solid #000000;
}

.button-sorting-wrapper .button-sorting:nth-child(1) {
  background-image: url("../images/catalog/sorting-cards.svg") ;
  background-repeat: no-repeat;
  background-position: center;
}

.button-sorting-wrapper .button-sorting:nth-child(2) {
  background-image: url("../images/catalog/sorting-one-by-one.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-sorting-wrapper .button-sorting:nth-child(3) {
  background-image: url("../images/catalog/sorting-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-sorting-wrapper .button-sorting:hover {
  border: 2px solid #83B3D3;
}

.button-sorting-wrapper .button-sorting:focus-visible {
  outline: none;
  border: 2px solid #83B3D3;
}

.button-sorting-wrapper .button-sorting:not(:last-child) {
  margin-right: 8px;
}

/* карточки гостиниц */

.inner-content {
  width: 1058px;
  margin: 0 auto
}

.inner-content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 7px;
  margin-bottom: 30px;
}

.content-card-text,
.content-card-price,
.hotel-stars,
.hotel-rating {
  align-self: center;
}


.inner-content-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 8px;
  row-gap: 16px;
  padding: 20px;
}

.content-card-link {
  color: #000000;
  text-decoration-line: none;
  grid-column: 1 / -1;
  outline: none;
}

.content-card-link:hover .content-card-img {
  opacity: 0.6;
}

.content-card-link:active .content-card-img {
  opacity: 0.3;
}

.content-card-link:focus .content-card-img {
  outline: 3px solid #83B3D3;
}

.content-card-title {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 0 0;
}

.content-card-img {
  width: 100%;
}

.content-card-text,
.content-card-price  {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.content-card-text {
  grid-column: 1 / 2;
}

.content-card-price {
  grid-column: 3 / 4;
}

.hotel-rating {
  grid-column: 2 / 4;
  padding: 10px 0 9px;
  margin: 0;
  justify-self: end;
}

.inner-content-card .button {
  font-size: 16px;
  line-height: 21px;
  padding: 8px 2px;
  align-self: center;
  box-sizing: border-box;
}

.inner-content-card .button-brown {
  grid-column: 1 / 2;
  min-width: 131px;
}

.inner-content-card .button-blue {
  grid-column: 3 / 4;
  min-width: 141px;
}

.inner-content-card .button-green {
  padding: 8px 19px;
  grid-column: 3 / 4;
  min-width: 141px;
}

.inner-content-card .button-brown:hover {
  background-color: #615048;
}

.inner-content-card .button-brown:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.inner-content-card .button-brown:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.inner-content-card .button-blue:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.inner-content-card .button-blue:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.inner-content-card .button-green:hover {
  background-color: #6C9E42;
}

.inner-content-card .button-green:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.inner-content-card .button-green:focus-visible,
.inner-content-card .button-blue:focus-visible {
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
}

.hotel-stars {
  min-height: 18px;
  width: 117px;
  background-image: url("../images/catalog/star.svg");
  background-size: 25px 18px;
  background-repeat: repeat-x;
}

.stars-two {
  width: 42px;
}

.stars-three {
  width: 67px;
}

.stars-four {
  width: 92px;
}

/* загрузить еще */

.button-more-wrapper {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 30px;
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  padding: 17px 238px;
}

/* пагинация */

.pagination-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item .button {
  font-size: 20px;
  line-height: 26px;
  width: 55px;
  height: 55px;
  padding-top: 25%;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.hotels-on-page-text {
  margin: 0;
  margin-right: 51px;
  line-height: 23px;
  color: #333333;
}

.select-control-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  padding-left: 17px;
  width: 160px;
  min-height: 48px;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}
.pagination-item .button:focus-visible {
  background: #68A2CA;
}

/* подвал каталога */

.mailing-title.catalog {
  padding-top: 66px;
  margin-bottom: 46px;
}

.mailing-no-bg-img {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  min-height: 449px;
}
