/* подключение шрифтов */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие стили */

html {
  /* sticky footer */
  height: 100%;
}

body {
  /* sticky footer */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /* основной шрифт и фон всей страницы */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  /* стакан */
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.main-container {
  /* sticky footer */
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  background-color: transparent;
  font-weight: 400;
}

/* обнулене стилей у списков */

.navigation-list,
.advantages-list,
.footer-social-list,
.form-filter-list,
.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* главная страница cедона */
/* шапка */

.page-header {
  background: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;

  /* позиционирование логотипа */
  margin-bottom: -4px;
}

.navigation-logo {
  margin-right: 30px;

  /* позиционирование логотипа */
  z-index: 1;
}

.page-header-logo {
  vertical-align: middle;
}

.navigation-list {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* позиционирование логотипа */
  margin-top: -4px;
}

.navigation-user {
  width: 350px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;

  padding: 20px 0px;
  margin: 0 17px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  /* (для себя) возможно хрень и надо псевдоклассом after делать */
}

.navigation-user .navigation-link:not(:last-child) {
  min-width: 42px;
  min-height: 66px;
}

.navigation-link.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 35px;
}

.navigation-likes-number .likes-number {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
  padding: 4px 5px; /* думаю, это как то подругому надо сделать. при изменении количества цифр получается овал )) */
  display: inline-block;
}

/* main-page */

.main-page {
  color: #000000;
  background-color: #ffffff;
  z-index: -1;
}

/* intro */

.main-page-intro {
  color: #f2f2f2;
  background-color: #333333;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 485px;
}

.main-intro-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/* заголовок */

.main-page-header {
  text-align: center;
}

.main-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.main-page-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

/* преимущества */

.advantages-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-list-white {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-list:nth-of-type(2) .advantages-item:nth-child(2n+1),
.advantages-list:nth-of-type(4) .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list:nth-of-type(2) .advantages-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-list:nth-of-type(4) .advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item.advantages-item-with-img {
  width: 800px;
}

.advantages-pic {
  vertical-align: middle;
}

.advantages-description-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  color: #333333;
  padding: 0 75px;
}

.advantages-list-white .advantages-description {
  color: #ffffff;
  padding: 0 90px;
}

/* форма поиска гостиницы */

.search-hotel {
  text-align: center;
  width: 1060px;
  margin: 0 auto;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotel .button {
  font-size: 20px;
  line-height: 36px;
  padding: 15px 150px; /* Правильная стилизация кнопки? */
  border-radius: 10px;
}

/* подвал */
/* подписка на рассылку */

.mailing {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 411px;
  text-align: center;
}

.mailing-container {
  width: 800px;
  margin: 0 auto;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
}

.mailing-form {
  display: flex;
  justify-content: center; /* Правильно форму с кнопкой склеить флексом? */
}

.mailing-form .button-blue {
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 34px;
}

.mailing-form .field {
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px; /* это я сам написал, в фигме почему то так border-radius: 0px 10px 10px 0px;*/
  color: #000000;
  border: none;
  padding: 17px 0;
  padding-left: 22px;
  width: 578px;
}

/* контакты */

.footer-contacts {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 107px;
  margin-left: 72px;
}

.footer-social-list {
  color: #000000;
}

.footer-social-list a {
  color: inherit;
  text-decoration: none
}

.footer-phone {
  width: 720px;
  text-align: center;
}

.footer-phone a {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
}

.footer-logo {
  width: 115px;
  margin-right: 72px;
}

/* catalog */
/* main inner */

.main-inner {
  background-color: #ffffff;
  color: #000000;
}

/* поле выбора гостиниц */

.breadcrumbs {
  padding: 0;
  list-style-type: none;
}

.form-filter {
  display: flex;
}

.catalog-hotels-wrapper {
  background: #756257 url("../images/catalog/catalog-background-filter.jpg") no-repeat;
  color: #ffffff;
  background-size: 100% auto;
  width: 1200px;
  min-height: 408px;
  padding: 0 71px;
  box-sizing: border-box;
}

.breadcrumbs-link {
  color: inherit;
}

.form-filter .button-blue {
  font-size: 16px;
  line-height: 21px;
  padding: 14px 35px;
}

.form-filter .button-transparent {
  padding: 13px 44px;
}

.form-filter-group {
  padding: 0;
}

.form-filter-group:nth-child(1) {
  width: 150px;
  margin-right: 67px;
}

.form-filter-group:nth-child(2) {
  width: 150px;
}

.form-filter-group:nth-child(3) {
  margin-left: auto;
  width: 287px;
}

.filter-button-wrapper {
  margin-left: 81px;
}

/* сортировка */

.sorting-wrapper {
  display: flex;
  width: 1058px;
  margin: 0 auto;
}

.sorting-result {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: auto;
}

.button-sorting-wrapper {
  margin-left: 81px;
}

.button-sorting-wrapper a {
  color: #000000;
  text-decoration: none;
}

/* карточки гостиниц */

.inner-content {
  width: 1058px;
  margin: 0 auto
}

.content-card-link {
  color: #000000;
  text-decoration-line: none;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.content-card-text,
.content-card-price  {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.inner-content-card .button {
  font-size: 16px;
  line-height: 21px;
  padding: 8px 21px;
}

.inner-content-card .button-green {
  padding: 8px 19px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.button-more-wrapper {
  text-align: center;
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  padding: 17px 238px;  /* Правильная стилизация кнопки? */
}

/* пагинация */

.pagination-container {
  display: flex;
}

.pagination-item {
  width: 55px;
  height: 55px;
}

.pagination-item .button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px 22px; /* Думаю тут тоже надо как то подругому как и в шапке с обводкой избранного (likes-number). Как реализовать одинаковый квадрат? Пока непонимаю*/
  /* box-sizing: border-box; */
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.hotels-on-page-text {
  line-height: 23px;
  color: #333333;
  margin-left: auto;
}

.select-control {
  margin-left: 51px;
  width: 160px;
  cursor: pointer;
}

/* подвал каталога */

.mailing-no-bg-img {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}
