@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

/* Шапка */

.page-header {
  background: #ffffff;
  color: #000000;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

/* .navigation-link.button {
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  border-radius: 4px;
} */

/* .navigation-likes-number sup {
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  border-radius: 10px;
} */

/* main */

.main-page {
  color: #333333;
  background-color: #f2f2f2;
  /* в демках показано что для main нужно прописывать это для безопасности, но те же самые свойста наследуются из body, не понял в чем смысл тогда это опять писать. */
}

.main-page-intro {
  color: #333333;
  background-color: #f2f2f2; /* В лайве Николай говорил что нужно к каждой большой фоновой картинке указывать для безопасности color и background-color. Опять же, в данном случае не понял для чего это, если наследуется из body и вообще тут нету текста*/
  background: url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
}
